#background {
    background-color: orange;
}

.aside {
    float: right;
    position: fixed right;
}

div {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    
}

.Descrição {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.Titulo_seção {
    font-size: xxx-large;
}