#background {
    background-color: orange;
    height: 100px;
}

.box-nav {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.logo {
    /*width: 80px;
    margin: 8px 0;*/
    float: left;
    padding-left: 5px;
}

#digita_busca{
    position: absolute;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 40px 35px 300px 200px;
}

button {
    position: absolute;
    padding: 5px 10px;
    margin: 40px 40px 300px 327px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.log_in {
    /*color: black;
    position: absolute;
    right: 0px;
    top: 35px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 350ms;*/
    float: right;
    padding-top: 10px;
}

.log_in:hover {
    color: blanchedalmond;
    transition: 350ms;
}

.aside {
    width: 15%;
    background-color: orange;
    float: right;
    display: block;
    
}

.aside p {
    display: block;
    text-align: center;
    font-size: 130%;
    min-height: 170px
}

nav {
    background-color: orange;
    height: 60px;
}

.titulo_seção {
    font-size: 30px;
    margin: 20px 0;
}

footer {
    background-color: orange;
    font-size: 1.3em;
}