#background {
    background-color: orange;
    height: 100px;
}

.aside {
    width: 15%;
    background-color: orange;
    float: right;
    display: block;
    
}

.aside p {
    display: block;
    text-align: center;
    font-size: 130%;
    min-height: 170px
}

nav {
    background-color: orange;
    height: 60px;
}

img {
    display: block;
}

div {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 0 auto;  
}

ul {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    width: 33%;
    font-size: 200%;
    background-color: white;
}

.descrição {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
}

.titulo_seção {
    font-size: xxx-large;
}

/*.seção {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 0 auto;  
}*/

.digita_busca {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 30%;
}

.logo {
    /*display: inline-block;*/
    float: left;
}

.log_in {
    /*display: inline-block;*/
    float: right;
}

footer {
    background-color: orange;
    font-size: 250%;
}

.login_page {
    display: block;
    text-align: center;
    background-color: whitesmoke;
}

.center {
    display: block;
    background-color: whitesmoke;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    height: 100%;
    width: 100%;
}

div.col {
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

